/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

&soft_off { hold-time-ms = <1000>; };

&kscan0 {
    debounce-press-ms = <1>;
    debounce-release-ms = <10>;
};

/ {
    behaviors {
        sh2cl: sh2cl {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <220>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        hold2boot: hold2boot {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&bootloader>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <1000>;
        };

        http: http {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            flavor = "tap-preferred";
        };

        bt_td: bt_td {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings =
                <&bt BT_SEL 0>,
                <&bt BT_SEL 1>,
                <&bt BT_SEL 2>,
                <&bt BT_SEL 3>,
                <&bt BT_SEL 4>;

            tapping-term-ms = <220>;
        };

        // bluetooth 1 param macro

        bt_select: bt_select {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&out OUT_BLE &macro_param_1to2 &bt BT_SEL MACRO_PLACEHOLDER>;
        };
    };

    macros {
    };

    keymap {
        compatible = "zmk,keymap";

        // -------------------------------------          -----------------------------------------------------
        // | ESC |     |  F1 |  F2 |  F3 |  F4 |          |  F5 |  F6 |  F7 |  F8 |   |  F9 | F10 | F11 | F12 |
        // |  `  |  1  |  2  |  3  |  4  |  5  |        |  6  |  7  |  8  |  9  |  0  |  -  |  =  |  BSPC     |
        // | TAB   |  Q  |  W  |  E  |  R  |  T  |        |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |   \     |
        // | CAPS   |  A  |  S  |  D  |  F  |  G  |        |  H  |  J  |  K  |  L  |  ;  |  '  |    ENTER     |
        // | SHIFT    |  Z  |  X  |  C  |  V  |  B  |        |  N  |  M  |  ,  |  .  |  /  |        RSHFT     |
        // |LCTRL| LGUI| LALT| FN1 |     SPACE      |        |   SPACE        | RALT | RGUI | MENU | RCTRL |
        // -------------------------------------------       -----------------------------------------------

        default_layer {
            display-name = "Base";
            bindings = <
&kp ESC              &kp F1    &kp F2  &kp F3     &kp F4    &kp F5     &kp F6  &kp F7     &kp F8               &kp F9     &kp F10    &kp F11     &kp F12          &kp PSCRN  &kp SLCK  &kp PAUSE_BREAK
&kp GRAVE  &kp N1    &kp N2    &kp N3  &kp N4     &kp N5    &kp N6     &kp N7  &kp N8     &kp N9    &kp N0     &kp MINUS  &kp EQUAL              &kp BACKSPACE    &kp INS    &kp HOME  &kp PG_UP
&kp TAB    &kp Q     &kp W     &kp E   &kp R      &kp T     &kp Y      &kp U   &kp I      &kp O     &kp P      &kp LBKT   &kp RBKT               &kp BACKSLASH    &kp DEL    &kp END   &kp PG_DN
&kp CAPS   &kp A     &kp S     &kp D   &kp F      &kp G     &kp H      &kp J   &kp K      &kp L     &kp SEMI   &kp APOS                          &kp ENTER
&sh2cl     &kp Z     &kp X     &kp C   &kp V      &kp B     &kp N      &kp M   &kp COMMA  &kp DOT   &kp SLASH                        &kp RSHIFT                              &kp UP
&kp LCTRL  &kp LGUI  &kp LALT  &mo 1   &kp SPACE            &kp SPACE                     &kp RALT  &mo 1                            &kp K_APP   &kp RCTRL        &kp LEFT   &kp DOWN  &kp RIGHT
            >;
        };

        swap_layer {
            display-name = "Fn";
            bindings = <
&hold2boot 0 C_AL_LOCK                 &bt_td       &bt BT_NXT    &bt BT_PRV    &bt BT_CLR_ALL    &bt_select 0         &bt_select 1  &bt_select 2  &bt_select 3         &bt BT_NXT  &bt BT_PRV  &bt BT_CLR  &bt BT_CLR_ALL    &kp C_SNAPSHOT  &kp C_BRI_AUTO  &hold2boot 0 C_MUTE
&bt_select 0            &bt_select 1   &bt_select 2 &bt_select 3  &bt_select 4  &bt BT_CLR        &hold2boot 0 K_LOCK  &none         &none         &none         &none  &none       &none                   &soft_off         &studio_unlock  &kp C_BRI_UP    &kp C_VOL_UP
&kp BSPC                &studio_unlock &kp UP       &none         &none         &none             &none                &none         &none         &none         &none  &none       &none                   &kp TAB           &none           &kp C_BRI_DN    &kp C_VOL_DN
&kp ENTER               &kp LEFT       &kp DOWN     &kp RIGHT     &none         &none             &none                &none         &none         &none         &none  &none                               &kp KP_ENTER
&kp RSHFT               &none          &none        &none         &none         &out OUT_TOG      &out OUT_USB         &none         &mkp MB4      &mkp MB5      &none                          &kp LSHIFT                                    &kp K_VOL_UP
&kp RCTRL               &kp K_APP      &kp RALT     &mo 1         &to 1                           &to 0                                            &kp LALT      &mo 1                          &kp RGUI    &kp LCTRL         &bl BL_CYCLE    &kp K_VOL_DN    &bl BL_TOG
            >;
        };
    };
};
